::ng-deep .layout-menuitem-text{
    font-size: 16px !important;
}
::ng-deep .layout-menuitem-root-text{
    font-size: 16px !important;
    color: #059669 !important;
}
::ng-deep .layout-menuitem-icon{
    font-size: 16px !important;
}