<div class="card">
    <div class="flex justify-between items-center mb-4">
        <div class="uppercase text-2xl font-semibold">List Roles</div>
        <div class="flex gap-2">
            <p-button (click)="showCreateDialog()" label="+ Create new role" />
        </div>
    </div>
    <p-table #dt1 [value]="roles" dataKey="id" [rows]="10" [rowHover]="true" [showGridlines]="true" [paginator]="true"
        [globalFilterFields]="['name', 'userCount']" responsiveLayout="scroll">
        <ng-template #caption>
            <div class="flex justify-between items-center flex-column sm:flex-row">
                <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash"
                    (click)="clear(dt1)"></button>
                <p-iconfield iconPosition="left" class="ml-auto">
                    <p-inputicon>
                        <i class="pi pi-search"></i>
                    </p-inputicon>
                    <input pInputText type="text" (input)="onGlobalFilter(dt1, $event)" placeholder="Search keyword" />
                </p-iconfield>
            </div>
        </ng-template>
        <ng-template #header>
            <tr>
                <th>No#</th>
                <th style="min-width: 12rem" pSortableColumn="name">
                    <div class="flex justify-between items-center">
                        <span><p-sortIcon field="name" /> Role Name</span>
                        <p-columnFilter type="text" field="name" display="menu"
                            placeholder="Search by name"></p-columnFilter>
                    </div>
                </th>
                <th style="min-width: 12rem">
                    <div class="flex justify-between items-center">
                        <span><p-sortIcon field="userCount" /> User Count</span>
                        <p-columnFilter type="numeric" field="userCount" display="menu"
                            placeholder="Search by userCount"></p-columnFilter>
                    </div>
                </th>
                <th style="min-width: 10rem; position: relative;">
                    Actions
                </th>
            </tr>
        </ng-template>
        <ng-template #body let-role let-index="rowIndex">
            <tr>
                <td class="w-16">
                    <p-tag [value]="'#' + (index + 1)" severity="info" styleClass="dark:!bg-surface-900" />
                </td>
                <td class="font-semibold">
                    {{ role.name }}
                </td>
                <td class="font-semibold">
                    {{ role.userCount }}
                </td>
                <td>
                    <div *ngIf="role.name !== 'admin'">
                        <!-- <p-button (click)="showEditDialog(role.id)" icon="pi pi-pencil" severity="info" class="mx-2" /> -->
                        <p-button (click)="confirmDelete($event, role)" severity="danger" [outlined]="true"
                            icon="pi pi-trash" severity="danger" class="mx-2" />
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template #emptymessage>
            <tr>
                <td colspan="4">No roles found.</td>
            </tr>
        </ng-template>
        <ng-template #loadingbody>
            <tr>
                <td colspan="4">Loading roles data. Please wait.</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<!-- toast and confirm dialog -->
<p-toast />
<p-confirmdialog />

<p-dialog header="Create New User" [modal]="true" [(visible)]="createVisible" [style]="{ width: '35rem' }">
    <form [formGroup]="roleForm" class="flex flex-col gap-4">
        <!-- Username -->
        <div class="flex items-center gap-4">
            <label for="userName" class="w-32 font-semibold">Role Name</label>
            <input pInputText id="name" formControlName="name" class="flex-auto font-normal" autocomplete="off" />
            <small class="text-red-500" *ngIf="f['name'].touched && f['name'].errors?.['required']">
                Role name is required
            </small>
        </div>
        <!-- Actions -->
        <div class="flex justify-end gap-2 mt-5">
            <p-button severity="info" label="Clear" [raised]="true" (click)="roleForm.reset()" />
            <p-button label="Save" (click)="createNewRole()" [disabled]="roleForm.invalid" />
        </div>
    </form>
</p-dialog>