<div class="layout-topbar">
    <div class="layout-topbar-logo-container">
        <button class="layout-menu-button layout-topbar-action" (click)="layoutService.onMenuToggle()">
            <i class="pi pi-bars"></i>
        </button>
        <a class="layout-topbar-logo" routerLink="/">
            <img src="/images/ms-logo-no-bg.png" alt="Logo" class="layout-topbar-logo-image max-w-32" />
        </a>
    </div>

    <div class="layout-topbar-actions items-center">
        <p-overlaybadge [value]="unreadCount" (click)="showNotification = true" class="cursor-pointer">
            <i class="pi pi-bell" style="font-size: 2rem"></i>
        </p-overlaybadge>
        <p-splitbutton [label]="userProfile.email" dropdownIcon="pi pi-user" [model]="items" />
        <div class="layout-config-menu">

            <div class="relative">
                <button class="layout-topbar-action layout-topbar-action-highlight" pStyleClass="@next"
                    enterFromClass="hidden" enterActiveClass="animate-scalein" leaveToClass="hidden"
                    leaveActiveClass="animate-fadeout" [hideOnOutsideClick]="true">
                    <i class="pi pi-palette"></i>
                </button>
                <app-configurator />
            </div>
        </div>

        <div class="layout-topbar-menu hidden lg:block">
            <div class="layout-topbar-menu-content items-center">

                <!-- <button type="button" class="layout-topbar-action">
                    <i class="pi pi-inbox"></i>
                    <span>Messages</span>
                </button>
                <button type="button" class="layout-topbar-action">
                    <i class="pi pi-user"></i>
                    <span>Profile</span>

                </button> -->
            </div>
        </div>

        <button class="layout-topbar-menu-button layout-topbar-action" pStyleClass="@next" enterFromClass="hidden"
            enterActiveClass="animate-scalein" leaveToClass="hidden" leaveActiveClass="animate-fadeout"
            [hideOnOutsideClick]="true">
            <i class="pi pi-ellipsis-v"></i>
        </button>
    </div>
</div>

<p-drawer header="New Notifications" [(visible)]="showNotification" position="right" [modal]="true"
    (onHide)="badgeCount = 0">
    <div *ngIf="refundMessages && refundMessages.length === 0">
        <p>No new notifications</p>
    </div>

    <div *ngFor="let message of refundMessages" class="mb-3 border-bottom pb-2 p-2 cursor-pointer"
        [ngClass]="{ 'bg-light text-muted': message.isRead }" (click)="markAsRead(message)">
        <h5 class="text-yellow-500 text-base mb-1">Refund Request</h5>
        <div class="py-1 border-b border-gray-400" (click)="seeDetails(message)">
            <p class="m-0">Refund request has been create by <strong>{{message.createdBy}}</strong></p>
            <p class="m-0"><strong>Reason:</strong> {{
                message.reason }}</p>
            <p *ngIf="message.otherReason" class="m-0">
                Detail: {{ message.otherReason }}
            </p>
            <p>{{message.createdAt | date: 'dd/MM/yy, h:mm a'}}</p>
        </div>
    </div>

    <div *ngFor="let message of paidOrderMessages" class="mb-3 border-bottom pb-2 p-2 cursor-pointer"
        [ngClass]="{ 'bg-light text-muted': message.isRead }" (click)="markAsRead(message)">
        <h5 class="text-primary text-base mb-1">Payment Received</h5>
        <div class="py-1 border-b border-gray-400" (click)="seeDetails(message)">
            <p class="m-0">New order has been paid successfully by <strong>{{message.createdBy}}</strong></p>
            <p>{{message.createdAt | date: 'dd/MM/yy, h:mm a'}}</p>
        </div>
    </div>

</p-drawer>