<div class="layout-topbar">
    <div class="layout-topbar-logo-container">
        <button class="layout-menu-button layout-topbar-action" (click)="layoutService.onMenuToggle()">
            <i class="pi pi-bars"></i>
        </button>
        <a class="layout-topbar-logo" routerLink="/">
            <img src="/images/ms-logo-no-bg.png" alt="Logo" class="layout-topbar-logo-image max-w-32" />
        </a>
    </div>

    <div class="layout-topbar-actions items-center">
        <p-overlaybadge [value]="unreadCount" (click)="showNotification = true" class="cursor-pointer">
            <i class="pi pi-bell" style="font-size: 2rem"></i>
        </p-overlaybadge>
        <p-splitbutton [label]="userProfile.email" dropdownIcon="pi pi-user" [model]="items" />
        <div class="layout-config-menu">

            <div class="relative">
                <button class="layout-topbar-action layout-topbar-action-highlight" pStyleClass="@next"
                    enterFromClass="hidden" enterActiveClass="animate-scalein" leaveToClass="hidden"
                    leaveActiveClass="animate-fadeout" [hideOnOutsideClick]="true">
                    <i class="pi pi-palette"></i>
                </button>
                <app-configurator />
            </div>
        </div>

        <div class="layout-topbar-menu hidden lg:block">
            <div class="layout-topbar-menu-content items-center">

                <!-- <button type="button" class="layout-topbar-action">
                    <i class="pi pi-inbox"></i>
                    <span>Messages</span>
                </button>
                <button type="button" class="layout-topbar-action">
                    <i class="pi pi-user"></i>
                    <span>Profile</span>

                </button> -->
            </div>
        </div>

        <button class="layout-topbar-menu-button layout-topbar-action" pStyleClass="@next" enterFromClass="hidden"
            enterActiveClass="animate-scalein" leaveToClass="hidden" leaveActiveClass="animate-fadeout"
            [hideOnOutsideClick]="true">
            <i class="pi pi-ellipsis-v"></i>
        </button>
    </div>
</div>

<p-drawer header="New Notifications" [(visible)]="showNotification" position="right" [modal]="true"
    (onHide)="badgeCount = 0">
    <div
        *ngIf="(!refundMessages || refundMessages.length === 0)&&(!paidOrderMessages || paidOrderMessages.length === 0)">
        <p>No new notifications</p>
    </div>

    <div *ngFor="let message of refundMessages" class="mb-3 border-bottom pb-2 p-2 cursor-pointer"
        [ngClass]="{ 'bg-light text-muted': message.isRead }" (click)="markAsRead(message)">
        <h5 class="text-yellow-500 text-base mb-1">Refund Request</h5>
        <div class="py-1 border-b border-gray-400" (click)="seeDetails(message)">
            <p class="m-0">Refund request has been create by <strong>{{message.createdBy}}</strong></p>
            <p class="m-0"><strong>Reason:</strong> {{
                message.reason }}</p>
            <p *ngIf="message.otherReason" class="m-0">
                Detail: {{ message.otherReason }}
            </p>
            <p>{{message.createdAt | date: 'dd/MM/yy, h:mm a'}}</p>
        </div>
    </div>

    <div *ngFor="let message of paidOrderMessages" class="mb-3 border-bottom pb-2 p-2 cursor-pointer"
        [ngClass]="{ 'bg-light text-muted': message.isRead }" (click)="markAsRead(message)">
        <h5 class="text-primary text-base mb-1">Payment Received</h5>
        <div class="py-1 border-b border-gray-400" (click)="seeDetails(message)">
            <p class="m-0">New order has been paid successfully by <strong>{{message.createdBy}}</strong></p>
            <p>{{message.createdAt | date: 'dd/MM/yy, h:mm a'}}</p>
        </div>
    </div>

</p-drawer>

<p-dialog header="Profile" [modal]="true" [(visible)]="visible" [style]="{ width: '40rem' }">
    <div class="py-4 md:py-8">
        <div class="mb-4 grid gap-4 sm:grid-cols-2 sm:gap-8 lg:gap-16">
            <div class="space-y-4">
                <div class="flex space-x-4">
                    <img class="h-16 w-16 rounded-lg"
                        src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/helene-engels.png"
                        alt="Helene avatar" />
                    <div>
                        <h2
                            class="flex items-center text-xl font-bold leading-none text-gray-900 dark:text-white sm:text-2xl">
                            {{userProfileDetail.fullName? userProfileDetail.fullName : '' }}
                        </h2>
                    </div>
                </div>
                <dl>
                    <dt class="font-semibold text-gray-900 dark:text-white">Email Address</dt>
                    <dd class="text-gray-500 dark:text-gray-400">{{userProfileDetail.email}}</dd>
                </dl>
                <dl>
                    <dt class="font-semibold text-gray-900 dark:text-white">Role</dt>
                    <dd class="text-gray-500 dark:text-gray-400">{{userProfileDetail.role}}</dd>
                </dl>
            </div>
            <div class="space-y-4">

                <dl>
                    <dt class="font-semibold text-gray-900 dark:text-white">Home Address</dt>
                    <dd class="flex items-center gap-1 text-gray-500 dark:text-gray-400">
                        <svg class="hidden h-5 w-5 shrink-0 text-gray-400 dark:text-gray-500 lg:inline"
                            aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                            viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m4 12 8-8 8 8M6 10.5V19a1 1 0 0 0 1 1h3v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h3a1 1 0 0 0 1-1v-8.5" />
                        </svg>
                        {{userProfileDetail.address?.line1}}, {{userProfileDetail.address?.city}},
                        {{userProfileDetail.address?.country}}
                    </dd>
                </dl>
                <dl>
                    <dt class="font-semibold text-gray-900 dark:text-white">Phone Number</dt>
                    <dd class="text-gray-500 dark:text-gray-400">{{userProfileDetail.phoneNumber}}</dd>
                </dl>
            </div>
        </div>

    </div>
    <div class="flex justify-end gap-2">
        <p-button label="Close" severity="secondary" (click)="visible = false" />
    </div>
</p-dialog>