:host ::ng-deep .p-panel .p-panel-header {
    font-size: 1.5rem; /* text-xl */
    font-weight: 600;   /* font-semibold */
    padding: 1.5rem 1rem;
    text-transform: uppercase;
    color: #059669 !important;
  }
  
  ::ng-deep .p-confirmdialog-icon {
    font-size: 2rem !important; 
    color: #c2c506 !important;  
  }