:host ::ng-deep .p-panel .p-panel-header {
    font-size: 2rem; /* text-xl */
    font-weight: 600;   /* font-semibold */
    margin-bottom: 1rem; /* khoảng cách với nội dung */
  }
  
  ::ng-deep .p-confirmdialog-icon {
    font-size: 2rem !important; 
    color: #c2c506 !important;  
  }