::ng-deep .p-tag.tag-summary{
    font-size: 20px !important;
}
::ng-deep .card.summary-sold{
    padding-top: 4rem !important;
    padding-bottom: 8rem !important;
    padding-left: 4rem !important;
    padding-right: 4rem !important;
}
.text-center-quantity{
    text-align: center !important;
}