<div class="card">
    <div class="font-semibold text-xl mb-4 flex justify-between items-center">
        <p class="font-bold uppercase">Inventories</p>
    </div>
    <p-table #dt1 [value]="inventories" dataKey="id" [rows]="10" [rowHover]="true" [paginator]="true"
        [globalFilterFields]="['productName', 'color', 'size','quantity']" responsiveLayout="scroll">
        <ng-template #caption>
            <div class="flex justify-between items-center flex-column sm:flex-row">
                <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash"
                    (click)="clear(dt1)"></button>
                <p-iconfield iconPosition="left" class="ml-auto">
                    <p-inputicon>
                        <i class="pi pi-search"></i>
                    </p-inputicon>
                    <input pInputText type="text" (input)="onGlobalFilter(dt1, $event)" placeholder="Search keyword" />
                </p-iconfield>
            </div>
        </ng-template>
        <ng-template #header>
            <tr>
                <th style="min-width: 12rem" pSortableColumn="productName">
                    <div class="flex justify-between items-center">
                        <span><p-sortIcon field="productName" /> Product Name</span>
                        <p-columnFilter type="text" field="productName" display="menu"
                            placeholder="Search by name"></p-columnFilter>
                    </div>
                </th>
                <th style="min-width: 12rem">
                    <div class="flex justify-between items-center">
                        Image
                    </div>
                </th>
                <th style="min-width: 12rem" pSortableColumn="quantity">
                    <div class="flex justify-between items-center">
                        <span><p-sortIcon field="quantity" /> Quantity</span>
                        <p-columnFilter type="number" field="quantity" display="menu"
                            placeholder="Search by quantity"></p-columnFilter>
                    </div>
                </th>
                <th style="min-width: 12rem">
                    <div class="flex justify-between items-center">
                        Color
                    </div>
                </th>
                <th style="min-width: 12rem">
                    <div class="flex justify-between items-center">
                        Size
                    </div>
                </th>
                <th style="min-width: 10rem; position: relative;">
                    Actions
                </th>
            </tr>
        </ng-template>
        <ng-template #body let-inventory>
            <tr>
                <td>
                    <span style="max-width: 250px; display: inline-block; word-wrap: break-word; white-space: normal;">
                        {{ inventory.productName }}
                    </span>
                </td>
                <td class="w-24">
                    <img *ngIf="inventory.imageUrl?.length > 0; else noImage" [src]="inventory.imageUrl"
                        [alt]="inventory.productName" class="w-16 rounded" />
                    <ng-template #noImage>
                        <span>No Image</span>
                    </ng-template>
                </td>
                <td>
                    <span class="font-semibold" *ngIf="inventory.quantity > 0; else outOfStock">
                        {{ inventory.quantity }}
                    </span>
                    <ng-template #outOfStock>
                        <span class="bg-red-400 text-white p-1">Out of Stock</span>
                    </ng-template>
                </td>
                <td>
                    <span class="font-semibold" *ngIf="inventory.color; else noColor">
                        {{ inventory.color }}
                    </span>
                    <ng-template #noColor>
                        <span class="bg-red-400 text-white p-1">No Color</span>
                    </ng-template>
                </td>
                <td>
                    <span class="font-semibold" *ngIf="inventory.size; else noSize">
                        {{ inventory.size }}
                    </span>
                    <ng-template #noSize>
                        <span class="bg-red-400 text-white p-1">No Size</span>
                    </ng-template>
                </td>
                <td>
                    <p-button pTooltip="Update inventory" tooltipPosition="top"
                        (click)="showEditInventoryDialog(inventory.inventoryId)" icon="pi pi-pencil" severity="info"
                        class="mx-2" />

                    <p-button pTooltip="See histories" tooltipPosition="top"
                        [routerLink]="['/inventories/history',inventory.inventoryId]" severity="danger"
                        [outlined]="true" icon="pi pi-history" severity="warn" class="mx-2" />
                </td>
            </tr>
        </ng-template>
        <ng-template #emptymessage>
            <tr>
                <td colspan="8">No inventories found.</td>
            </tr>
        </ng-template>
        <ng-template #loadingbody>
            <tr>
                <td colspan="8">Loading inventories data. Please wait.</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<!-- toast and confirm dialog -->
<p-toast />
<p-confirmdialog />

<!-- Edit inventory dialog -->
<p-dialog header="Update Inventory" [modal]="true" [(visible)]="editVisible"
    [style]="{ width: '35rem', height: '300px' }">

    <form #inventoryForm="ngForm" (ngSubmit)="updateInventory()" novalidate>
        <!-- Quantity input -->
        <div class="flex items-center gap-4 mb-4">
            <label for="newQuantity" class="font-semibold w-24">Quantity</label>
            <input pInputText id="newQuantity" type="number" [(ngModel)]="editInventory.newQuantity" name="newQuantity"
                class="flex-auto md:w-56" autocomplete="off" required #quantityRef="ngModel"
                [ngClass]="{ 'p-invalid': quantityRef.invalid && quantityRef.touched }" />
        </div>
        <!-- Hiển thị lỗi -->
        <div *ngIf="quantityRef.invalid && quantityRef.touched" class="text-red-500 text-sm mb-2">
            Quantity is required.
        </div>

        <!-- Reason dropdown -->
        <div class="flex items-center gap-4 mb-6">
            <label for="reason" class="font-semibold w-24">Reason</label>
            <p-select [options]="reasonOptions" [(ngModel)]="editInventory.reason" name="reason"
                placeholder="Select a reason" class="md:w-56" display="chip" appendTo="body" required
                #reasonRef="ngModel" [ngClass]="{ 'p-invalid': reasonRef.invalid && reasonRef.touched }">
                <ng-template let-type #item>
                    <div class="flex items-center gap-2">
                        <div>{{ type }}</div>
                    </div>
                </ng-template>
                <ng-template #dropdownicon>
                    <i class="pi pi-angle-down"></i>
                </ng-template>
            </p-select>
        </div>
        <!-- Hiển thị lỗi -->
        <div *ngIf="reasonRef.invalid && reasonRef.touched" class="text-red-500 text-sm mb-2">
            Reason is required.
        </div>

        <!-- Actions -->
        <div class="flex justify-end gap-2">
            <p-button label="Cancel" severity="secondary" (click)="editVisible = false" />
            <p-button label="Update" type="submit" [disabled]="inventoryForm.invalid" />
        </div>
    </form>
</p-dialog>